<div class="login c-area">
  <div class="login-wrap" id="login_form">
    <div class="login-contents">
      <div class="login-title-box">
        <p class="login-title">オンライン資料作成サービス</p>
        <%= image_tag 'logo_blue.svg', {class: 'login-logo'} %>
      </div>
      <%= form_with model:@user, url: password_reset_path(@token), local: true, class: "login-form-box", method: :post do |f| %>
        <dl class="login-item">
          <dt class="login-label">メールアドレス</dt>
          <dd class="login-input"><%= f.text_field :email %></dd>
        </dl>
        <dl class="login-item">
          <dt class="login-label">パスワード</dt>
          <dd class="login-input"><%= f.text_field :password %></dd>
        </dl>
        <dl class="login-item">
          <dt class="login-label">パスワード確認用</dt>
          <dd class="login-input"><%= f.text_field :password_confirmation %></dd>
        </dl>
        <%= f.submit  "更新する", class: "login-button" %>
      <% end %>
    </div>

  </div>
</div>
