<div class="login c-area">
  <div class="login-wrap" id="login_form">
    <div class="login-contents">
      <div class="login-title-box">
        <p class="login-title">オンライン資料作成サービス</p>
        <%= image_tag 'logo_blue.svg', {class: 'login-logo'} %>
      </div>
      <%= form_with url:password_resets_path, local: true, class: "login-form-box", method: :post do |f| %>
        <dl class="login-item">
          <dt class="login-label">メールアドレス</dt>
          <dd class="login-input"><%= f.text_field :email %></dd>
        </dl>
        <%= f.submit  "送信する", class: "login-button" %>
        <%= link_to '戻る', login_path, class:"login-forgot" %>
      <% end %>
    </div>

  </div>
</div>
