<div class="doc-wrap">

  <div class="doc-form_frame">
    <%= form_with model: @doc, class:"doc-form", id:"js-doc-form" do |f| %>
      <dl class="doc-form_item">
        <dt class="doc-form_item-title">PDFアップロード</dt>
        <dd>
          <label for="js-up-file" class="doc-form_item-desc-file-label" id="js-file-label"><%= image_tag 'pdf.png', {class: 'doc-form_icon'} %>PDFをアップロードする</label>
          <%= f.file_field :main, class:"doc-form_item-desc doc-form_item-desc-file", id:"js-up-file" %>
        </dd>
      </dl>

      <div class="doc-form_item-file-flex">
      
        <dl class="doc-form_item doc-form_item-file-w">
          <dt class="doc-form_item-title">PowerPoitntアップロード</dt>
          <dd>
            <label for="js-up-file-pptx" class="doc-form_item-desc-file-label" id="js-file-label-pptx"><%= image_tag 'powerpoint.png', {class: 'doc-form_icon'} %>pptxをアップロードする</label>
            <%= f.file_field :pptx, class:"doc-form_item-desc doc-form_item-desc-file", id:"js-up-file-pptx" %>
          </dd>
        </dl>

        <dl class="doc-form_item doc-form_item-file-w">
          <dt class="doc-form_item-title">Googleスライドアップロード</dt>
          <dd><%= f.text_field :g_slide, class:"doc-form_item-desc-g_slide doc-form_item-desc-text", placeholder:"共有用リンクの貼り付け" %></dd>
        </dl>
      
      </div>


      <dl class="doc-form_item">
        <dt class="doc-form_item-title">資料ジャンル</dt>
        <dd><%= f.select :title, [
        ["会社紹介資料", "会社紹介資料"],
        ["ウェビナー資料", "ウェビナー資料"],
        ["提案資料", "提案資料"],
        ["採用ピッチ資料", "採用ピッチ資料"],
        ["サービス紹介資料", "サービス紹介資料"],
        ["ホワイトペーパー", "ホワイトペーパー"],
        ["株主向けIR資料", "株主向けIR資料"],
        ["社内向け資料", "社内向け資料"],
        ["その他", "その他"]
        ], include_blank: "選択して下さい" %></dd>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">資料枚数(自動計算)</dt>
        <dd><span class="doc-form_item-desc doc-form_item-desc-sheet" id="js-pdf-count"></span>枚</dd>
        <%= f.number_field :sheet, class:"doc-form_item-desc-sheet-hidden", id:"js-hidden-pdf-count" %>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">納期</dt>
        <dd><%= f.date_field :deadline, class:"doc-form_item-desc doc-form_item-desc-text", id:"js-deadline-input" %></dd>
      </dl>

      <div class="doc-form_line"></div>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">資料の内容・概要</dt>
        <dd><%= f.text_area :content, class:"doc-form_item-desc doc-form_item-desc-textarea", placeholder:"(例)セールスの際にサービスの内容、サービスを利用した時のメリットを図解を用いて説明している" %></dd>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">資料の活用場面</dt>
        <dd><%= f.text_field :scene, class:"doc-form_item-desc doc-form_item-desc-text", placeholder:"(例)WEB商談時の提案の時に" %></dd>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">資料を見せる相手</dt>
        <dd><%= f.text_field :shower, class:"doc-form_item-desc doc-form_item-desc-text", placeholder:"(例)新規クライアント向け" %></dd>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">ページ内で重複している内容の削除や調整をしてもよろしいですか？</dt>
        <dd class="doc-form_item-desc doc-form_item-desc-size">
          <div>
            <%= f.radio_button :deplication, "OK" %>
            <%= f.label :deplication, "OK", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :deplication, "NG" %>
            <%= f.label :deplication, "NG", {style: "display: inline-block;"} %>
          </div>
        </dd>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">サイズ</dt>
        <dd class="doc-form_item-desc doc-form_item-desc-size">
          <div>
            <%= f.radio_button :size, "16:9" %>
            <%= f.label :size, "１６：９", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :size, "4:3" %>
            <%= f.label :size, "４：３", {style: "display: inline-block;"} %>
          </div>
        </dd>
      </dl>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">納品形式</dt>
        <dd class="doc-form_item-desc doc-form_item-desc-size">
          <div>
            <%= f.radio_button :format, "PowerPoint" %>
            <%= f.label :format, "PowerPoint", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :format, "Googleスライド" %>
            <%= f.label :format, "Googleスライド", {style: "display: inline-block;"} %>
          </div>
        </dd>
        <p><b>　※どちらもPDFと共に納品いたします</b></p>
      </dl>


      <dl class="doc-form_item">
        <dt class="doc-form_item-title">フォント</dt>
        <dd class="doc-form_item-desc doc-form_item-desc-size" style="flex-wrap:wrap">
          <div>
            <%= f.radio_button :font, "游ゴシック" %>
            <%= f.label :font, "游ゴシック", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :font, "メイリオ" %>
            <%= f.label :font, "メイリオ", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :font, "Meiryo UI" %>
            <%= f.label :font, "Meiryo UI", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :font, "コーポレートロゴ" %>
            <%= f.label :font, "コーポレートロゴ", {style: "display: inline-block;"} %>
          </div>
          <div>
            <%= f.radio_button :font, "おまかせ" %>
            <%= f.label :font, "おまかせ", {style: "display: inline-block;"} %>
          </div>
        </dd>
      </dl>

      <div class="doc-form_color-frame">

        <p class="doc-form_color-frame-title">※色の指定がなければ元の資料から抜粋します</p>

        <dl class="doc-form_color">
          <dt class="doc-form_title">
            <p class="doc-form_title-text">メインカラー</p>
            <input type="color" class="doc-form_title-color" id="js-main-pick">
          </dt>
          <dd><%= f.text_field :main_color, class:"doc-form_desc", id:"js-main-code" %></dd>
        </dl>

        <dl class="doc-form">
          <dt class="doc-form_title">
            <p class="doc-form_title-text">アクセントカラー</p>
            <input type="color" class="doc-form_title-color" id="js-sub-pick">
          </dt>
          <dd><%= f.text_field :sub_color, class:"doc-form_desc", id:"js-sub-code" %></dd>
        </dl>

      </div>

      <dl class="doc-form_item">
        <dt class="doc-form_item-title">依頼内容詳細</dt>
        <dd><%= f.text_area :detail, class:"doc-form_item-desc doc-form_item-desc-textarea" %></dd>
      </dl>

      <p class="doc-form_atention">
      上記依頼内容、右記の見積もりで良ければ下のボタンを押してください
      </p>

      <%= f.submit "資料作成を依頼する", class:"doc-submit", id:"js-doc-submit" %>

      <p class="doc-form_atention" style="opacity:0;" id="js-request-comp">依頼が完了しました！</p>

    <% end %>
  </div>

  <div class="doc-preview">
    <p class="doc-preview_title">見積書プレビュー</p>
    <div class="doc-preview_frame">

      <div id="js-canvas" class="doc-preview_frame-main">

        <p class="preview_title">見積書</p>
        <div class="preview_top-wrap">
          <div class="preview_top-wrap-left">
            <p class="preview_top-wrap-left-text"><%= current_user.company %>御中</p>
          </div>
          <div class="preview_top-wrap-right">
            <div class="preview_top-wrap-right-image-frame">
              <%= image_tag 'cone-logo.jpg', class:"preview_top-wrap-right-image" %>
            </div>
            <div class="preview_top-wrap-right-txtbox">
              <%= image_tag 'cone-shadow.jpg', class:"preview_top-wrap-right-shadow" %>
              <p class="preview_top-wrap-right-txt preview_top-wrap-right-txt-mb ">株式会社Cone</p>
              <p class="preview_top-wrap-right-txt">〒530-0027</p>
              <p class="preview_top-wrap-right-txt">大阪府大阪市北区堂山町1-5</p>
              <p class="preview_top-wrap-right-txt preview_top-wrap-right-txt-mb ">梅田三共ビル7階</p>
              <p class="preview_top-wrap-right-txt">見積書番号:2022060499</p>
              <p class="preview_top-wrap-right-txt">発行日:<%= Date.today.strftime("%Y/%m/%d") %></p>
            </div>
          </div>
        </div>

        <p class="preview_item-name">件名:【slidebox】資料作成代行費用</p>

        <p class="preview_mitumori">御見積金額 <span id="js-show-money"></span> 円</p>

        <div class="preview_breakdown">

          <dl class="preview_breakdown-item preview_breakdown-item-w7">
            <dt class="preview_breakdown-title">品目</dt>
            <dd class="preview_breakdown-desc" id="js-doc-title-preview"></dd>
          </dl>

          <dl class="preview_breakdown-item preview_breakdown-item-w1">
            <dt class="preview_breakdown-title">単価</dt>
            <dd class="preview_breakdown-desc">3,000</dd>
          </dl>

          <dl class="preview_breakdown-item preview_breakdown-item-w1">
            <dt class="preview_breakdown-title">数量</dt>
            <dd class="preview_breakdown-desc" id="js-set-sheet"></dd>
          </dl>

          <dl class="preview_breakdown-item preview_breakdown-item-w1">
            <dt class="preview_breakdown-title">価格</dt>
            <dd class="preview_breakdown-desc" id="js-price"></dd>
          </dl>
        
        </div>

        <div class="preview-detail">

          <div class="preview-detail_wrap">
            <p class="preview-detail_title">小計</p>
            <p class="preview-detail_desc"><span id="js-subtotal"></span> 円</p>
          </div>

          <div class="preview-detail_wrap">
            <p class="preview-detail_title">消費税</p>
            <p class="preview-detail_desc"><span id="js-tax"></span> 円</p>
          </div>

          <div class="preview-detail_wrap">
            <p class="preview-detail_title">合計</p>
            <p class="preview-detail_desc"><span id="js-total"></span> 円</p>
          </div>

        </div>

        <p style="margin-bottom: 0;">備考</p>
        <div class="preview_remarks">
          <p style="margin-bottom: 0;">【納期】<span id="js-deadline-output"></span></p>
          <p style="margin-bottom: 10px;">【仕様】頂戴する資料に基づく</p>
          <p style="margin-bottom: 0;">・本案件の申し込み後のキャンセルに関してはキャンセル費として申し込み金額の全額が発生いたします。</p>
        </div>


      </div>

      <button id="js-canvas-btn" class="preview_button">見積書をダウンロードする</button>

    </div>
  </div>
  
</div>
