<div class="p-nav">
  <nav class='p-navbar'>
    <%= link_to root_path, {class: 'p-nav-link'} do %>
      <%= image_tag 'logo.svg', {class: 'p-nav-img'} %>
    <% end %>
    <div class="p-nav-right">
      <p class="p-nav-right_name"><%= current_user.name %></p>
      <p class="p-nav-right_setting" id="js-setting">設定</p>
    </div>

    <div class="overlay" id="overLay"></div>

    <ul class="p-nav-global" id="navGlobal">
      <div class="p-nav-global-profile">
        <p class="p-nav-global-company"><%= current_user.company %></p>
        <p class="p-nav-global-name"><%= current_user.name %>様</p>
      </div>
      <li class="p-nav-global_item"><%= link_to 'アカウント設定', edit_user_path(id: current_user.id), class:"p-nav-global_item-link" %></li>
      <li class="p-nav-global_item"><%= link_to 'ログアウト', logout_path, method: :delete, class:'p-nav-global_item-link' %></li>
    </ul>

  </nav>
</div>
