<h2 class="option-title">設定</h2>

<%= form_with model: @setting do |f| %>

  <dl class="option-form">
    <dt class="option-form_title">フォント</dt>
    <dd>
      <%= f.select :font, [
        ["游ゴシック", "游ゴシック"],
        ["メイリオ", "メイリオ"],
        ["Meiryo UI", "Meiryo UI"],
        ["コーポレート・ロゴ", "コーポレート・ロゴ"]
        ], include_blank: "選択して下さい", class:"option-form_desc" %>
    </dd>
    
  </dl>

  <dl class="option-form">
    <dt class="option-form_title">
      <p class="option-form_title-text">メインカラー</p>
      <input type="color" class="option-form_title-color" id="js-main-pick">
    </dt>
    <dd><%= f.text_field :main_color, class:"option-form_desc", id:"js-main-code" %></dd>
  </dl>

  <dl class="option-form">
    <dt class="option-form_title">
      <p class="option-form_title-text">アクセントカラー</p>
      <input type="color" class="option-form_title-color" id="js-sub-pick">
    </dt>
    <dd><%= f.text_field :sub_color, class:"option-form_desc", id:"js-sub-code" %></dd>
  </dl>

  <%= f.submit "保存する", class:"option-submit" %>

<% end %>
