<!DOCTYPE html>
<html>
  <head>
    <title>slidebox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
 
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if current_page?(root_path) %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <% end %>
    
  </head>

  <body>
    <% unless current_page?(login_path) || current_page?(new_password_reset_path) || (@token && current_page?(:controller => 'password_resets', :action => 'edit', :id => @token)) %>
      <%= render 'partial/navbar' %>

      <p class="sp-attention">1200px以下のデバイスには対応しておりません。</p>
      <div class="c-inner">
      
        <div class="c-wrap">
        
          <aside class="c-sidebar">
            <%= link_to root_path, class:'c-sidebar_item' do %>
              <i class="fa fa-plus c-sidebar_icon"></i><span>新規作成</span>
            <% end %>
            <!--<% if exist_setting == nil %>
              <%= link_to new_setting_path, class:'c-sidebar_item' do %>
                <i class="fa fa-plus c-sidebar_icon"></i><span>設定</span>
              <% end %>
            <% else %>
              <%= link_to edit_setting_path(id: exist_setting.user_id), class:'c-sidebar_item' do %>
                <i class="fa fa-plus c-sidebar_icon"></i><span>設定</span>
              <% end %>
            <% end %>-->
            <%= link_to edit_user_path(id: current_user.id), class:'c-sidebar_item' do %>
              <i class="fa fa-plus c-sidebar_icon"></i><span>アカウント</span>
            <% end %>

          </aside>

          <div class="c-main">

            <%= yield %>

          </div>

        
        </div>

      </div>
    

    <% else %>

      <%= yield %>

    <% end %>
    



    <%= javascript_pack_tag 'home/common' %>

    <% if current_page?(root_path) %>
    <script src="https://cdn.jsdelivr.net/npm/html-to-image@1.7.0/dist/html-to-image.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <%= javascript_pack_tag 'home/toPdf' %>
    <%= javascript_pack_tag 'home/preview' %>
    <% end %>


  </body>
</html>
